body{
    margin: 0;
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    display: grid;
    background-color: #817F82;
}

/* Styling for the navbar */
.navbar {
    overflow: hidden;
    background-color:#434255;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: rgb(77, 77, 77);
}
.navbar a.active {
    background-color: #356FDA;
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #E7E4DF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Styling for the banner below navbar */
#banner {
    text-align: center;
    border: 3px solid #817F82;
    color: #FFFFFF;
    background-color: #817F82;
}
#banner h1{
    font-size: 60px;
}
#banner h4{
    font-size: 20px;
}

/* Footer Styling */
.footer {
    background-color: #434255;
    overflow: hidden;
    color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* Styling to Center an image on the screen */
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* P2: Styling for the aisle Cereal by Tomas */
.aisle-box {
    background: #817F82;
    padding-bottom: 15px;
    padding-top: 35px;
    border-right: 25px;
    height: auto;
    width: 100%; 

    /* Flexbox Styling */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.aisle-content {
    width: 40%;
    height: 700px;
    background: rgb(173, 173, 173);
    box-sizing: border-box;
    font-size: 40px;
}
.aisle-content h2 {
    margin: 2%;
    text-align: center;
}
.aisle-content p {
    text-align: center;
}
.aisle-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  60%;
    height: 70%;
    background-size: cover;
}
.aisle-content-footer {
    width: 100%;
    height: auto;
    border: 1px solid green;
    bottom: 0;
}

/* Styling for Contents of Forms */
.form-container {
    width: 500px;
    clear: both;
  }
  .form-container input[type=text] {
    width: 100%;
    clear: both;
  }
  .form-container input[type=submit]{
      width:75px;
  }



/* Item Page Styling */

/* Login and SignUp Styling */

/* Shopping Cart Styling */


/* Styling when Different Sized Screen */  
@media screen and (max-width:1200px) {
    .aisle-content{
        width: 70%;
        margin-top: 20px;
    }
    .aisle-content img {
        width:  70%;
        height: 70%;
    }
}
@media screen and (max-width:700px) {
    .aisle-content{
        width: 90%;
        margin-top: 20px;
    }
    .aisle-content img {
        width:  70%;
        height: 70%;
    }
    .footer{
        visibility: hidden;
    }
}