/* Styling For P1 and P2 plus some smaller aspects: By Tomas */

body{
    margin: 0;
    /* padding-bottom: 200px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #181717;
    color:#f2f2f2;
    display: grid;
    background-color: white; 
    background-size:cover;
	background-attachment: fixed;
    background-position: center center;
}

/* Styling for the navbar */
.navbar {
    text-shadow: none;
    overflow: hidden;
    background-color:#434255;
    font-weight: normal;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: rgb(77, 77, 77);
}
.navbar a.active {
    background-color: #356FDA;
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #E7E4DF;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Styling for the banner below navbar */
#banner {
    text-shadow: none;
    text-align: center;
    border: 3px solid #434255;
    color: #f2f2f2;
    background-color: #434255;
}
#banner h1{
    font-size: 60px;
}
#banner h4{
    font-size: 20px;
}

/* Footer Styling */
.footer {
    text-shadow: none;
    background-color: #434255;
    overflow: hidden;
    color: #FFFFFF;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    font-weight: normal;
}

/* Styling to Center an image on the screen */
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* P2: Styling for the aisle Cereal by Tomas and Adjusted to Work Like meat & poultry aisle by Arie */
.aisle-box {
    background: white;
    padding-bottom: 15px;
    padding-top: 35px;
    border-right: 25px;
    height: auto;
    width: 100%; 

    /* Flexbox Styling */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.aisle-content {
    width: 40%;
    height: auto;
    font-size: 10pt;
    text-align: center;
    border-radius: 50px;
    color: black;
    box-shadow: 0 0 10px grey;
}
a {
    text-decoration: none;
    color: black;
    text-shadow: none;
}
h3{
    font-size: 16pt;
    text-shadow: none;
}
img {
    max-width: 100%;
    max-height: 85%;
    width: 100%;
    height: 85%;
    border-radius: 50px;
}

/* Styling for Contents of Forms */
.form-container {
    width: 500px;
    clear: both;
  }
  .form-container input[type=text] {
    width: 100%;
    clear: both;
  }
  .form-container input[type=submit]{
      width:75px;
  }


/* Styling for Quantity Selector */
.counter {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: left;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #0052cc;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;
}

/* Styling when Different Sized Screen */  
@media screen and (max-width:1200px) {
    .aisle-content{
        width: 70%;
        margin-top: 20px;
    }
    .aisle-content img {
        width:  100%;
        height: 85%;
    }
}
@media screen and (max-width:700px) {
    .aisle-content{
        width: 90%;
        margin-top: 20px;
    }
    .aisle-content img {
        width:  100%;
        height: 80%;
    }
    .footer{
        visibility: hidden;
    }
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}